.animatedGradientText {
    background: linear-gradient(
      to right,
      #0f1922,
      #1e2f50,
      #2d3c5e,
      #31565e,
      #4b5643
    );
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5.5s linear infinite;
  }
  
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }